@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;500&display=swap');

$backgroundFirst: hsl(225, 100%, 94%);
$backgroundSecond: hsl(225, 100%, 98%);
$colorButton: hsl(245, 75%, 52%);
$colorHover:hsl(224, 23%, 55%);
$colortitle: hsl(223, 47%, 23%);

$font:'Outfit', sans-serif;